<h1>Log in to Fwitter</h1>
<form method="POST" action='/login'>
	<table align="center">       
        <tr>
          <td>
          	<label for "username">Username:</label>
          	<input type="text" id="username" name="username" placeholder="username">
          </td>
        </tr>
        <tr>
          <td>
          	<label for "password">Password:</label>
  					<input type="password" id="password" name="password" placeholder="password">
          </td>
        </tr>
        <tr>
          <td>
          	<input type="submit" id="submit" class="button" value="Log In">
          </td>
        </tr> 
        <tr><td>New to Fwitter?</td></tr> 
        <tr><td><a class="button" href="/signup">Sign Up</a></td></tr>     
	</table>
</form>
