<h1>Welcome to Fwitter!</h1>
<table align="center">       
        <tr><td><h2>Join Fwitter today!</h2></td></tr>
        <tr><td><a class="button" href="/signup">Sign up</td></tr> 
        <tr><td><a class="button" href="/login">Log in</a></td></tr>        
</table>
