<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <STYLE type="text/css">
        H1 {border: none; text-align: center}
        table {width: 50%;}
        th, td {
                  border-bottom: 1px solid #ddd;
                  padding: 15px;
                  text-align: left;
                  height: 20px;
                }
        .button {
                  background-color: #6CADDE;
                  border: none;
                  border-radius: 15px;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                }
    </STYLE>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
    </div>
    <%= yield %>
  </body>
</html>
