<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <STYLE type="text/css">
        H1 {border: none; text-align: center}
        H5 {border: none; text-align: left}
        table {width: 50%;}
        th, td {
                  padding: 15px;
                  text-align: left;
                  height: 20px;
                }
        input[type="text"] {width: 250px; height: 30px; font-size: 16px;}
        input[type="password"] {width: 250px; height: 30px; font-size: 16px;}
        .button {
                  background-color: #00aced;
                  border: none;
                  border-radius: 15px;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 18px;
                }
    </STYLE>
  </head>
  <body>

    <div class="container">
      <p><a class="button" href="/">Fwitter</a></p>
    </div>
    <%= yield %>
  </body>
</html>
